In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

In [12]:
#path = "../Reources/Crash_Statistics_Victoria_clean.csv" 
crash_data = pd.read_csv("C:/Users/racha/Documents/bootcamp_assignments/Turqoise-Bears-Project-Repo/Resources/Crash_Statistics_Victoria_clean.csv")
crash_data.head()

,OBJECTID,ACCIDENT_NO,ACCIDENT_DATE,ACCIDENT_TIME,ACCIDENT_TYPE,LIGHT_CONDITION,ROAD_GEOMETRY,SEVERITY,SPEED_ZONE (km/hr),LONGITUDE,...,NONINJURED,MALES,FEMALES,ALCOHOL_RELATED,NO_OF_VEHICLES,DEG_URBAN_NAME,LGA_NAME_ALL,REGION_NAME_ALL,RMA,STAT_DIV_NAME
0,3435435,T20150023093,7/11/2015,19.50.00,Struck Pedestrian,Day,Not at intersection,Other injury accident,50,143.79547,...,1,1,0,No,1,LARGE_PROVINCIAL_CITIES,BALLARAT,WESTERN REGION,NaN,Country
1,3438085,T20160004298,26/02/2016,11.22.00,Collision with vehicle,Day,Not at intersection,Other injury accident,60,144.95801,...,1,1,1,No,2,MELB_URBAN,MELBOURNE,METROPOLITAN NORTH WEST REGION,NaN,Metro
2,3449668,T20160026866,13/12/2016,07.40.00,Collision with vehicle,Day,T intersection,Other injury accident,80,144.32625,...,0,2,0,No,2,RURAL_VICTORIA,GEELONG,SOUTH WESTERN REGION,NaN,Country
3,3451061,T20170002220,4/02/2017,11.27.00,Collision with vehicle,Day,Not at intersection,Other injury accident,50,144.73173,...,2,1,2,No,2,MELB_URBAN,WYNDHAM,METROPOLITAN NORTH WEST REGION,NaN,Metro
4,3451108,T20170000685,12/01/2017,04.18.00,Collision with vehicle,Dusk/Dawn,Cross intersection,Serious injury accident,60,144.78551,...,1,2,0,No,2,MELB_URBAN,WYNDHAM,METROPOLITAN NORTH WEST REGION,NaN,Metro

In [15]:
#check dimensions
crash_data.shape

(65534, 29)

In [16]:
#check missing values
crash_data.isnull().sum()

OBJECTID                 0
ACCIDENT_NO              0
ACCIDENT_DATE            0
ACCIDENT_TIME            0
ACCIDENT_TYPE            0
LIGHT_CONDITION          0
ROAD_GEOMETRY            0
SEVERITY                 0
SPEED_ZONE (km/hr)       0
LONGITUDE                0
LATITUDE                 0
NODE_TYPE               21
LGA_NAME                 0
REGION_NAME              0
TOTAL_PERSONS            0
INJ_OR_FATAL             0
FATALITY                 0
SERIOUSINJURY            0
OTHERINJURY              0
NONINJURED               0
MALES                    0
FEMALES                  0
ALCOHOL_RELATED          0
NO_OF_VEHICLES           0
DEG_URBAN_NAME           0
LGA_NAME_ALL             0
REGION_NAME_ALL          0
RMA                   1315
STAT_DIV_NAME            0
dtype: int64

In [23]:
#remove NA values based on row
crash_data = crash_data.dropna(how = 'all')

In [24]:
#check missing values
crash_data.isnull().sum()

OBJECTID              0
ACCIDENT_NO           0
ACCIDENT_DATE         0
ACCIDENT_TIME         0
ACCIDENT_TYPE         0
LIGHT_CONDITION       0
ROAD_GEOMETRY         0
SEVERITY              0
SPEED_ZONE (km/hr)    0
LONGITUDE             0
LATITUDE              0
NODE_TYPE             0
LGA_NAME              0
REGION_NAME           0
TOTAL_PERSONS         0
INJ_OR_FATAL          0
FATALITY              0
SERIOUSINJURY         0
OTHERINJURY           0
NONINJURED            0
MALES                 0
FEMALES               0
ALCOHOL_RELATED       0
NO_OF_VEHICLES        0
DEG_URBAN_NAME        0
LGA_NAME_ALL          0
REGION_NAME_ALL       0
RMA                   0
STAT_DIV_NAME         0
dtype: int64

In [25]:
#check data dimensions
crash_data.shape

(64214, 29)

In [21]:
crash_data.sample(10)

,OBJECTID,ACCIDENT_NO,ACCIDENT_DATE,ACCIDENT_TIME,ACCIDENT_TYPE,LIGHT_CONDITION,ROAD_GEOMETRY,SEVERITY,SPEED_ZONE (km/hr),LONGITUDE,...,NONINJURED,MALES,FEMALES,ALCOHOL_RELATED,NO_OF_VEHICLES,DEG_URBAN_NAME,LGA_NAME_ALL,REGION_NAME_ALL,RMA,STAT_DIV_NAME
45259,3434643,T20150025037,3/12/2015,16.30.00,Collision with vehicle,Day,T intersection,Other injury accident,50,144.43235,...,1,3,1,No,3,SMALL_CITIES,MOORABOOL,WESTERN REGION,Local Road,Country
11377,3408481,T20140002663,8/02/2014,18.00.00,Collision with vehicle,Day,T intersection,Serious injury accident,90,145.24372,...,3,2,3,No,4,MELB_URBAN,CASEY,METROPOLITAN SOUTH EAST REGION,Arterial Highway,Metro
53833,3422780,T20140025129,4/12/2014,13.15.00,Collision with vehicle,Day,T intersection,Serious injury accident,40,144.98907,...,1,1,1,No,2,MELB_URBAN,STONNINGTON,METROPOLITAN SOUTH EAST REGION,Arterial Other,Metro
63835,3411674,T20140008077,18/04/2014,23.30.00,Collision with a fixed object,Dark Street lights on,Not at intersection,Serious injury accident,80,145.35873,...,0,1,0,Yes,1,MELB_URBAN,YARRA RANGES,METROPOLITAN SOUTH EAST REGION,Arterial Other,Metro
5177,3423545,T20150003743,20/02/2015,20.15.00,Collision with vehicle,Dark Street lights on,T intersection,Serious injury accident,80,144.24237,...,1,2,0,Yes,2,LARGE_PROVINCIAL_CITIES,BENDIGO,NORTHERN REGION,Arterial Highway,Country
48240,3446111,T20160019818,10/07/2016,22.30.00,Collision with a fixed object,Dark Street lights on,Cross intersection,Other injury accident,80,145.18924,...,0,1,0,No,1,MELB_URBAN,MORNINGTON PENINSULA,METROPOLITAN SOUTH EAST REGION,Arterial Other,Metro
27850,3458908,T20170012479,26/06/2017,08.51.00,Collision with vehicle,Day,Multiple intersection,Other injury accident,70,144.88589,...,1,1,1,No,2,MELB_URBAN,HUME,METROPOLITAN NORTH WEST REGION,Freeway,Metro
7353,3458185,T20170012562,27/06/2017,14.33.00,Collision with vehicle,Day,T intersection,Other injury accident,60,145.09271,...,1,2,0,No,2,MELB_URBAN,BOROONDARA,METROPOLITAN SOUTH EAST REGION,Arterial Other,Metro
11174,3403049,T20130016638,12/08/2013,14.10.00,Collision with vehicle,Day,Cross intersection,Other injury accident,80,145.27491,...,1,1,1,No,2,MELB_URBAN,CASEY,METROPOLITAN SOUTH EAST REGION,Freeway,Metro
4869,3406422,T20130021873,23/10/2013,08.05.00,Collision with vehicle,Day,Cross intersection,Serious injury accident,60,144.29191,...,1,2,0,No,2,LARGE_PROVINCIAL_CITIES,BENDIGO,NORTHERN REGION,Arterial Highway,Country

In [29]:
#load local government expenditure data, skip first row
localgov = pd.read_csv("C:/Users/racha/Documents/bootcamp_assignments/Turqoise-Bears-Project-Repo/Resources/lge_cleanfile.csv", skiprows = 1)
localgov.head(10)

,Unnamed: 0,Local Roads - Sealed,Local Roads - Unsealed - Formed & Sheeted,Local Roads - Unsealed - Natural Surface,Total,Local Roads - Sealed.1,Local Roads - Unsealed - Formed & Sheeted.1,Local Roads - Unsealed - Natural Surface.1,Bridges,Roads Ancillary,Total.1
0,Alpine,412,233,215,860,"3,748,129","265,116",0,0,0,"4,013,244"
1,Ararat,764,"1,420",240,"2,424","7,303,459","2,975,868","2,281","202,766","1,361,455","11,845,829"
2,Ballarat,"1,044",351,40,"1,435","41,874,084","3,196,942","363,289","296,102","1,045,194","46,775,611"
3,Banyule,538,6,1,545,"10,329,600",0,0,0,0,"10,329,600"
4,Bass Coast,563,373,7,943,"7,355,926","1,677,983",0,"100,159","789,457","9,923,525"
5,Baw Baw,"1,110",721,184,"2,015","13,512,590","3,092,182",0,"975,035","1,493,686","19,073,493"
6,Bayside,355,1,0,356,"5,547,236",0,0,0,"6,045,707","11,592,943"
7,Benalla,560,713,78,"1,351","2,504,772","1,474,785",0,0,0,"3,979,557"
8,Boroondara,562,0,0,562,"11,436,082",0,0,0,0,"11,436,082"
9,Brimbank,889,5,0,894,"25,715,082","344,474",0,"20,865","1,997,635","28,078,056"

In [28]:
#check dimensions
localgov.shape

(80, 11)

In [32]:
#check null values
localgov.isnull().sum()

Unnamed: 0                                      0
Local Roads - Sealed                            0
Local Roads - Unsealed - Formed &  Sheeted      0
Local Roads - Unsealed - Natural Surface        0
Total                                           0
Local Roads - Sealed.1                          0
Local Roads - Unsealed - Formed &  Sheeted.1    0
Local Roads - Unsealed - Natural Surface.1      0
Bridges                                         0
Roads Ancillary                                 0
Total.1                                         0
dtype: int64