In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

In [6]:
#path = "../Reources/Crash_Statistics_Victoria_clean.csv" 
crash_data = pd.read_csv("Resources/Crash_Statistics_Victoria_clean.csv")
crash_data.head()

,OBJECTID,ACCIDENT_DATE,ACCIDENT_TIME,ALCOHOLTIME,ACCIDENT_TYPE,DAY_OF_WEEK,LIGHT_CONDITION,ROAD_GEOMETRY,SEVERITY,SPEED_ZONE,...,YOUNG_DRIVER,ALCOHOL_RELATED,UNLICENCSED,NO_OF_VEHICLES,HEAVYVEHICLE,PASSENGERVEHICLE,MOTORCYCLE,PUBLICVEHICLE,RMA,STAT_DIV_NAME
0,3401744,1/07/2013,18.30.00,Yes,Struck Pedestrian,Monday,Dark Street lights on,Not at intersection,Serious injury accident,60 km/hr,...,0,No,0,1,0,1,0,0,Local Road,Metro
1,3401745,2/07/2013,16.40.00,No,Collision with vehicle,Tuesday,Day,T intersection,Serious injury accident,60 km/hr,...,0,No,0,3,0,3,0,0,Arterial Other,Metro
2,3401746,2/07/2013,13.15.00,No,Collision with a fixed object,Tuesday,Day,T intersection,Serious injury accident,50 km/hr,...,0,Yes,0,1,0,1,0,0,Local Road,Metro
3,3401747,2/07/2013,16.45.00,No,Collision with a fixed object,Tuesday,Day,Not at intersection,Serious injury accident,110 km/hr,...,0,No,0,1,0,1,0,0,Freeway,Country
4,3401748,2/07/2013,15.48.00,No,Collision with vehicle,Tuesday,Day,Not at intersection,Other injury accident,50 km/hr,...,0,No,0,2,0,1,0,1,Local Road,Metro

In [7]:
#check dimensions
crash_data.shape

(65435, 47)

In [8]:
#check missing values
crash_data.isnull().sum()

OBJECTID                0
ACCIDENT_DATE           0
ACCIDENT_TIME           0
ALCOHOLTIME             0
ACCIDENT_TYPE           0
DAY_OF_WEEK          1146
LIGHT_CONDITION         0
ROAD_GEOMETRY           0
SEVERITY                0
SPEED_ZONE              0
NODE_ID                 0
LONGITUDE               0
LATITUDE                0
NODE_TYPE               6
LGA_NAME                0
REGION_NAME             0
VICGRID_X               0
VICGRID_Y               0
TOTAL_PERSONS           0
INJ_OR_FATAL            0
FATALITY                0
SERIOUSINJURY           0
OTHERINJURY             0
NONINJURED              0
MALES                   0
FEMALES                 0
BICYCLIST               0
PASSENGER               0
DRIVER                  0
PEDESTRIAN              0
PILLION                 0
MOTORIST                0
UNKNOWN                 0
PED_CYCLIST_5_12        0
PED_CYCLIST_13_18       0
OLD_PEDESTRIAN          0
OLD_DRIVER              0
YOUNG_DRIVER            0
ALCOHOL_RELATED         0
UNLICENCSED             0
NO_OF_VEHICLES          0
HEAVYVEHICLE            0
PASSENGERVEHICLE        0
MOTORCYCLE              0
PUBLICVEHICLE           0
RMA                  1277
STAT_DIV_NAME           0
dtype: int64

In [9]:
#remove NA values based on row
crash_data = crash_data.dropna(axis = 0)

In [10]:
#check missing values
crash_data.isnull().sum()

OBJECTID             0
ACCIDENT_DATE        0
ACCIDENT_TIME        0
ALCOHOLTIME          0
ACCIDENT_TYPE        0
DAY_OF_WEEK          0
LIGHT_CONDITION      0
ROAD_GEOMETRY        0
SEVERITY             0
SPEED_ZONE           0
NODE_ID              0
LONGITUDE            0
LATITUDE             0
NODE_TYPE            0
LGA_NAME             0
REGION_NAME          0
VICGRID_X            0
VICGRID_Y            0
TOTAL_PERSONS        0
INJ_OR_FATAL         0
FATALITY             0
SERIOUSINJURY        0
OTHERINJURY          0
NONINJURED           0
MALES                0
FEMALES              0
BICYCLIST            0
PASSENGER            0
DRIVER               0
PEDESTRIAN           0
PILLION              0
MOTORIST             0
UNKNOWN              0
PED_CYCLIST_5_12     0
PED_CYCLIST_13_18    0
OLD_PEDESTRIAN       0
OLD_DRIVER           0
YOUNG_DRIVER         0
ALCOHOL_RELATED      0
UNLICENCSED          0
NO_OF_VEHICLES       0
HEAVYVEHICLE         0
PASSENGERVEHICLE     0
MOTORCYCLE           0
PUBLICVEHICLE        0
RMA                  0
STAT_DIV_NAME        0
dtype: int64

In [7]:
#check data dimensions
crash_data.shape

(64214, 29)

In [12]:
crash_data.sample(10)

,OBJECTID,ACCIDENT_DATE,ACCIDENT_TIME,ALCOHOLTIME,ACCIDENT_TYPE,DAY_OF_WEEK,LIGHT_CONDITION,ROAD_GEOMETRY,SEVERITY,SPEED_ZONE,...,YOUNG_DRIVER,ALCOHOL_RELATED,UNLICENCSED,NO_OF_VEHICLES,HEAVYVEHICLE,PASSENGERVEHICLE,MOTORCYCLE,PUBLICVEHICLE,RMA,STAT_DIV_NAME
59714,3461549,24/10/2017,11.00.00,No,Collision with a fixed object,Tuesday,Day,Not at intersection,Serious injury accident,60 km/hr,...,0,No,0,1,0,1,0,0,Local Road,Metro
41217,3442999,23/06/2016,17.40.00,No,Collision with a fixed object,Thursday,Dark Street lights on,T intersection,Other injury accident,80 km/hr,...,0,No,0,1,0,1,0,0,Arterial Other,Metro
61289,3463127,8/12/2017,19.00.00,Yes,Collision with vehicle,Friday,Day,T intersection,Other injury accident,Other speed limit,...,0,No,0,2,0,1,1,0,Arterial Other,Metro
51575,3453377,13/02/2017,18.22.00,Yes,Collision with vehicle,Monday,Day,Cross intersection,Other injury accident,80 km/hr,...,1,No,0,3,0,3,0,0,Arterial Highway,Metro
13048,3414804,10/07/2014,06.40.00,No,Collision with vehicle,Thursday,Dusk/Dawn,T intersection,Other injury accident,70 km/hr,...,0,No,0,3,0,3,0,0,Arterial Highway,Metro
48077,3449865,28/10/2016,17.00.00,No,Collision with vehicle,Thursday,Day,T intersection,Other injury accident,50 km/hr,...,0,No,0,2,0,1,0,0,Local Road,Metro
51758,3453561,4/02/2017,19.31.00,Yes,Collision with vehicle,Saturday,Dusk/Dawn,Cross intersection,Other injury accident,60 km/hr,...,2,No,0,2,0,2,0,0,Local Road,Metro
50613,3452413,3/01/2017,12.30.00,No,Collision with a fixed object,Tuesday,Day,Cross intersection,Serious injury accident,100 km/hr,...,0,No,0,1,0,0,1,0,Local Road,Metro
42428,3444211,1/06/2016,16.15.00,No,Struck animal,Tuesday,Dusk/Dawn,Not at intersection,Serious injury accident,100 km/hr,...,0,No,0,1,0,0,1,0,Arterial Other,Country
8506,3410258,16/03/2014,15.30.00,No,Struck Pedestrian,Sunday,Day,T intersection,Serious injury accident,60 km/hr,...,0,No,0,1,0,1,0,0,Arterial Other,Metro

In [13]:
#load local government expenditure data, skip first row
localgov = pd.read_csv("Resources/lge_cleanfile.csv", skiprows = 1)
localgov.head(10)

,LGA_NAME_ALL,Local Roads - Sealed-length,Local Roads - Unsealed - Formed & Sheeted-length,Local Roads - Unsealed - Natural Surface_length,Total_roadlength,Local Roads - Sealed-expenditure,Local Roads - Unsealed - Formed & Sheeted-expenditure,Local Roads - Unsealed - Natural Surface-expenditure,Roads Ancillary-expenditure,Total-expenditure
0,Alpine,412,233,215,860,"3,748,129","265,116",0,0,"4,013,244"
1,Ararat,764,"1,420",240,"2,424","7,303,459","2,975,868","2,281","1,361,455","11,845,829"
2,Ballarat,"1,044",351,40,"1,435","41,874,084","3,196,942","363,289","1,045,194","46,775,611"
3,Banyule,538,6,1,545,"10,329,600",0,0,0,"10,329,600"
4,Bass Coast,563,373,7,943,"7,355,926","1,677,983",0,"789,457","9,923,525"
5,Baw Baw,"1,110",721,184,"2,015","13,512,590","3,092,182",0,"1,493,686","19,073,493"
6,Bayside,355,1,0,356,"5,547,236",0,0,"6,045,707","11,592,943"
7,Benalla,560,713,78,"1,351","2,504,772","1,474,785",0,0,"3,979,557"
8,Boroondara,562,0,0,562,"11,436,082",0,0,0,"11,436,082"
9,Brimbank,889,5,0,894,"25,715,082","344,474",0,"1,997,635","28,078,056"

In [14]:
#check dimensions
localgov.shape

(79, 10)

In [15]:
#check null values
localgov.isnull().sum()

LGA_NAME_ALL                                              0
Local Roads - Sealed-length                               0
Local Roads - Unsealed - Formed &  Sheeted-length         0
Local Roads - Unsealed - Natural Surface_length           0
Total_roadlength                                          0
Local Roads - Sealed-expenditure                          0
Local Roads - Unsealed - Formed &  Sheeted-expenditure    0
Local Roads - Unsealed - Natural Surface-expenditure      0
Roads Ancillary-expenditure                               0
Total-expenditure                                         0
dtype: int64

In [18]:
#unique lGA names on local gov dataset
localgov["LGA_NAME_ALL"].nunique()
localgov["LGA_NAME_ALL"].value_counts()

Hindmarsh       1
Cardinia        1
Loddon          1
Latrobe         1
Benalla         1
               ..
Moyne           1
Hobsons Bay     1
Strathbogie     1
Moira           1
Maroondah       1
Name: LGA_NAME_ALL, Length: 79, dtype: int64

In [23]:
df1 = localgov.loc[localgov["Total_roadlength"], :]
df1.head()

KeyError: "None of [Index(['860', '2,424', '1,435', '545', '943', '2,015', '356', '1,351', '562',\n       '894', '0', '4,059', '1,561', '1,765', '1,280', '1,632', '2,369', '514',\n       '2,958', '705', '2,257', '483', '2,629', '1,864', '3,129', '690',\n       '2,280', '2,525', '1,509', '3,025', '431', '2,975', '1,357', '1,601',\n       '616', '724', '1,582', '4,718', '1,639', '605', '819', '305', '475',\n       '243', '1,169', '5,220', '1,514', '3,649', '736', '411', '1,526', '521',\n       '1,707', '1,428', '2,744', '1,201', '773', '3,375', '215', '2,036',\n       '43', '2,101', '2,992', '330', '2,204', '1,120', '3,489', '1,183',\n       '1,962', '337', '3,032', '2,775', '633', '1,259', '502', '1,558', '216',\n       '1,754', '4,821'],\n      dtype='object')] are in the [index]"

In [20]:
# Load in the csv data files
LGA_demo_path = "Resources/lga_demographics.csv"

# Read the weather data 
lga_demo_df = pd.read_csv(LGA_demo_path)

In [22]:
lga_demo_df

,LGA Name,LGA Code,Departmental Region,Index of Relative Socio-Economic Disadvantage (IRSD),Index of Relative Socio-Economic Disadvantage (IRSD) (rank),Percentage of highly disadvantaged SA1s,Percentage of highly disadvantaged SA1s (rank),People with income less than $400 per week,People with income less than $400 per week (rank),Median household income,...,Journeys to work which are by car,Journeys to work which are by car (rank),People with at least 2 hour daily commute,People with at least 2 hour daily commute (rank),People at increased risk of alcohol-related harm on a single occasion of drinking,People at increased risk of alcohol-related harm on a single occasion of drinking (rank),People reporting fair or poor health status,People reporting fair or poor health status (rank),"Clients that received Alcohol & Drug Treatment Services per 1,000 population","Clients that received Alcohol & Drug Treatment Services per 1,000 population (rank)"
0,ALPINE,20110,Hume,987,35,23.8%,33,44.8%,21,$829,...,43.9%,77,8.3%,35.0,56.1%,6,19.3%,10,1.0,78.0
1,ARARAT,20260,Grampians,951,11,45.5%,8,43.3%,30,$844,...,68.7%,38,NaN,NaN,48.2%,31,14.4%,45,11.5,4.0
2,BALLARAT,20570,Grampians,981,29,31.5%,23,41.7%,39,$988,...,73.8%,15,4.7%,47.0,53.7%,15,12.3%,60,5.5,31.0
3,BANYULE,20660,Northern Metropolitan,"1,047",67,8.3%,60,36.9%,68,"$1,394",...,64.1%,55,20.6%,5.0,40.7%,64,16.7%,31,3.7,54.0
4,BASS COAST,20740,Gippsland,978,27,21.6%,36,43.8%,26,$855,...,71.4%,25,6.8%,40.0,45.2%,44,17.7%,20,7.1,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,WODONGA,27170,Hume,975,26,37.6%,17,37.3%,67,"$1,075",...,75.8%,5,NaN,NaN,53.1%,18,11.8%,63,3.4,60.0
75,WYNDHAM,27260,Western Metropolitan,"1,013",55,19.3%,45,36.9%,69,"$1,424",...,72.1%,20,26.2%,1.0,34.7%,73,17.4%,21,4.4,45.0
76,YARRA,27350,Northern Metropolitan,"1,019",57,12.1%,55,29.2%,77,"$1,680",...,36.6%,78,3.4%,52.0,55.1%,12,14.8%,43,7.3,14.0
77,YARRA RANGES,27450,Eastern Metropolitan,"1,037",63,7.2%,62,37.8%,59,"$1,281",...,72.3%,19,17.5%,10.0,44.8%,47,15.2%,37,6.4,23.0
78,YARRIAMBIACK,27630,Grampians,952,14,42.9%,12,47.8%,8,$773,...,62.4%,58,NaN,NaN,46.9%,34,26.7%,2,5.1,38.0