In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

In [2]:
#path = "../Reources/Crash_Statistics_Victoria_clean.csv" 
crash_data = pd.read_csv("Resources/Crash_Statistics_Victoria_clean.csv")
crash_data.head()

,OBJECTID,ACCIDENT_DATE,ACCIDENT_TIME,ALCOHOLTIME,ACCIDENT_TYPE,DAY_OF_WEEK,LIGHT_CONDITION,ROAD_GEOMETRY,SEVERITY,SPEED_ZONE,...,YOUNG_DRIVER,ALCOHOL_RELATED,UNLICENCSED,NO_OF_VEHICLES,HEAVYVEHICLE,PASSENGERVEHICLE,MOTORCYCLE,PUBLICVEHICLE,RMA,STAT_DIV_NAME
0,3401744,1/07/2013,18.30.00,Yes,Struck Pedestrian,Monday,Dark Street lights on,Not at intersection,Serious injury accident,60 km/hr,...,0,No,0,1,0,1,0,0,Local Road,Metro
1,3401745,2/07/2013,16.40.00,No,Collision with vehicle,Tuesday,Day,T intersection,Serious injury accident,60 km/hr,...,0,No,0,3,0,3,0,0,Arterial Other,Metro
2,3401746,2/07/2013,13.15.00,No,Collision with a fixed object,Tuesday,Day,T intersection,Serious injury accident,50 km/hr,...,0,Yes,0,1,0,1,0,0,Local Road,Metro
3,3401747,2/07/2013,16.45.00,No,Collision with a fixed object,Tuesday,Day,Not at intersection,Serious injury accident,110 km/hr,...,0,No,0,1,0,1,0,0,Freeway,Country
4,3401748,2/07/2013,15.48.00,No,Collision with vehicle,Tuesday,Day,Not at intersection,Other injury accident,50 km/hr,...,0,No,0,2,0,1,0,1,Local Road,Metro

In [3]:
#check dimensions
crash_data.shape

(65435, 47)

In [4]:
#check missing values
crash_data.isnull().sum()

OBJECTID                0
ACCIDENT_DATE           0
ACCIDENT_TIME           0
ALCOHOLTIME             0
ACCIDENT_TYPE           0
DAY_OF_WEEK          1146
LIGHT_CONDITION         0
ROAD_GEOMETRY           0
SEVERITY                0
SPEED_ZONE              0
NODE_ID                 0
LONGITUDE               0
LATITUDE                0
NODE_TYPE               6
LGA_NAME                0
REGION_NAME             0
VICGRID_X               0
VICGRID_Y               0
TOTAL_PERSONS           0
INJ_OR_FATAL            0
FATALITY                0
SERIOUSINJURY           0
OTHERINJURY             0
NONINJURED              0
MALES                   0
FEMALES                 0
BICYCLIST               0
PASSENGER               0
DRIVER                  0
PEDESTRIAN              0
PILLION                 0
MOTORIST                0
UNKNOWN                 0
PED_CYCLIST_5_12        0
PED_CYCLIST_13_18       0
OLD_PEDESTRIAN          0
OLD_DRIVER              0
YOUNG_DRIVER            0
ALCOHOL_RELATED         0
UNLICENCSED             0
NO_OF_VEHICLES          0
HEAVYVEHICLE            0
PASSENGERVEHICLE        0
MOTORCYCLE              0
PUBLICVEHICLE           0
RMA                  1277
STAT_DIV_NAME           0
dtype: int64

In [5]:
#remove NA values based on row
crash_data = crash_data.dropna(axis = 0)

In [6]:
#check missing values
crash_data.isnull().sum()

OBJECTID             0
ACCIDENT_DATE        0
ACCIDENT_TIME        0
ALCOHOLTIME          0
ACCIDENT_TYPE        0
DAY_OF_WEEK          0
LIGHT_CONDITION      0
ROAD_GEOMETRY        0
SEVERITY             0
SPEED_ZONE           0
NODE_ID              0
LONGITUDE            0
LATITUDE             0
NODE_TYPE            0
LGA_NAME             0
REGION_NAME          0
VICGRID_X            0
VICGRID_Y            0
TOTAL_PERSONS        0
INJ_OR_FATAL         0
FATALITY             0
SERIOUSINJURY        0
OTHERINJURY          0
NONINJURED           0
MALES                0
FEMALES              0
BICYCLIST            0
PASSENGER            0
DRIVER               0
PEDESTRIAN           0
PILLION              0
MOTORIST             0
UNKNOWN              0
PED_CYCLIST_5_12     0
PED_CYCLIST_13_18    0
OLD_PEDESTRIAN       0
OLD_DRIVER           0
YOUNG_DRIVER         0
ALCOHOL_RELATED      0
UNLICENCSED          0
NO_OF_VEHICLES       0
HEAVYVEHICLE         0
PASSENGERVEHICLE     0
MOTORCYCLE           0
PUBLICVEHICLE        0
RMA                  0
STAT_DIV_NAME        0
dtype: int64

In [7]:
#check data dimensions
crash_data.shape

(63037, 47)

In [8]:
#load local government expenditure data, skip first row
localgov = pd.read_csv("Resources/lge_cleanfile.csv", skiprows = 1)
localgov.head(10)

,LGA_NAME_ALL,Local Roads - Sealed-length,Local Roads - Unsealed - Formed & Sheeted-length,Local Roads - Unsealed - Natural Surface_length,Total_roadlength,Local Roads - Sealed-expenditure,Local Roads - Unsealed - Formed & Sheeted-expenditure,Local Roads - Unsealed - Natural Surface-expenditure,Roads Ancillary-expenditure,Total-expenditure
0,Alpine,412,233,215,860,"3,748,129","265,116",0,0,"4,013,244"
1,Ararat,764,"1,420",240,"2,424","7,303,459","2,975,868","2,281","1,361,455","11,845,829"
2,Ballarat,"1,044",351,40,"1,435","41,874,084","3,196,942","363,289","1,045,194","46,775,611"
3,Banyule,538,6,1,545,"10,329,600",0,0,0,"10,329,600"
4,Bass Coast,563,373,7,943,"7,355,926","1,677,983",0,"789,457","9,923,525"
5,Baw Baw,"1,110",721,184,"2,015","13,512,590","3,092,182",0,"1,493,686","19,073,493"
6,Bayside,355,1,0,356,"5,547,236",0,0,"6,045,707","11,592,943"
7,Benalla,560,713,78,"1,351","2,504,772","1,474,785",0,0,"3,979,557"
8,Boroondara,562,0,0,562,"11,436,082",0,0,0,"11,436,082"
9,Brimbank,889,5,0,894,"25,715,082","344,474",0,"1,997,635","28,078,056"

In [9]:
#check dimensions
localgov.shape

(79, 10)

In [10]:
#check null values
localgov.isnull().sum()

LGA_NAME_ALL                                              0
Local Roads - Sealed-length                               0
Local Roads - Unsealed - Formed &  Sheeted-length         0
Local Roads - Unsealed - Natural Surface_length           0
Total_roadlength                                          0
Local Roads - Sealed-expenditure                          0
Local Roads - Unsealed - Formed &  Sheeted-expenditure    0
Local Roads - Unsealed - Natural Surface-expenditure      0
Roads Ancillary-expenditure                               0
Total-expenditure                                         0
dtype: int64

In [11]:
#unique lGA names on local gov dataset
localgov["LGA_NAME_ALL"].nunique()
localgov["LGA_NAME_ALL"].value_counts()

Monash              1
Melton              1
Horsham             1
Greater Bendigo     1
Colac Otway         1
                   ..
Wyndham             1
Darebin             1
Glen Eira           1
Campaspe            1
Yarriambiack        1
Name: LGA_NAME_ALL, Length: 79, dtype: int64

In [23]:
df1 = localgov.loc[localgov["Total_roadlength"], :]
df1.head()

KeyError: "None of [Index(['860', '2,424', '1,435', '545', '943', '2,015', '356', '1,351', '562',\n       '894', '0', '4,059', '1,561', '1,765', '1,280', '1,632', '2,369', '514',\n       '2,958', '705', '2,257', '483', '2,629', '1,864', '3,129', '690',\n       '2,280', '2,525', '1,509', '3,025', '431', '2,975', '1,357', '1,601',\n       '616', '724', '1,582', '4,718', '1,639', '605', '819', '305', '475',\n       '243', '1,169', '5,220', '1,514', '3,649', '736', '411', '1,526', '521',\n       '1,707', '1,428', '2,744', '1,201', '773', '3,375', '215', '2,036',\n       '43', '2,101', '2,992', '330', '2,204', '1,120', '3,489', '1,183',\n       '1,962', '337', '3,032', '2,775', '633', '1,259', '502', '1,558', '216',\n       '1,754', '4,821'],\n      dtype='object')] are in the [index]"

In [139]:
# Load in the csv data files
LGA_demo_path = "Resources/lga_demographics.csv"

# Read the weather data 
lga_demo_df = pd.read_csv(LGA_demo_path)

In [140]:
#Check the datafram import
lga_demo_df

,LGA Name,LGA Code,Departmental Region,Index of Relative Socio-Economic Disadvantage (IRSD),Index of Relative Socio-Economic Disadvantage (IRSD) (rank),Percentage of highly disadvantaged SA1s,Percentage of highly disadvantaged SA1s (rank),People with income less than $400 per week,People with income less than $400 per week (rank),Median household income,...,Journeys to work which are by car,Journeys to work which are by car (rank),People with at least 2 hour daily commute,People with at least 2 hour daily commute (rank),People at increased risk of alcohol-related harm on a single occasion of drinking,People at increased risk of alcohol-related harm on a single occasion of drinking (rank),People reporting fair or poor health status,People reporting fair or poor health status (rank),"Clients that received Alcohol & Drug Treatment Services per 1,000 population","Clients that received Alcohol & Drug Treatment Services per 1,000 population (rank)"
0,ALPINE,20110,Hume,987,35,23.80%,33,44.80%,21,$829,...,43.90%,77,8.30%,35.0,56.10%,6,19.30%,10,1.0,78.0
1,ARARAT,20260,Grampians,951,11,45.50%,8,43.30%,30,$844,...,68.70%,38,NaN,NaN,48.20%,31,14.40%,45,11.5,4.0
2,BALLARAT,20570,Grampians,981,29,31.50%,23,41.70%,39,$988,...,73.80%,15,4.70%,47.0,53.70%,15,12.30%,60,5.5,31.0
3,BANYULE,20660,Northern Metropolitan,"1,047",67,8.30%,60,36.90%,68,"$1,394",...,64.10%,55,20.60%,5.0,40.70%,64,16.70%,31,3.7,54.0
4,BASS COAST,20740,Gippsland,978,27,21.60%,36,43.80%,26,$855,...,71.40%,25,6.80%,40.0,45.20%,44,17.70%,20,7.1,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,WODONGA,27170,Hume,975,26,37.60%,17,37.30%,67,"$1,075",...,75.80%,5,NaN,NaN,53.10%,18,11.80%,63,3.4,60.0
75,WYNDHAM,27260,Western Metropolitan,"1,013",55,19.30%,45,36.90%,69,"$1,424",...,72.10%,20,26.20%,1.0,34.70%,73,17.40%,21,4.4,45.0
76,YARRA,27350,Northern Metropolitan,"1,019",57,12.10%,55,29.20%,77,"$1,680",...,36.60%,78,3.40%,52.0,55.10%,12,14.80%,43,7.3,14.0
77,YARRA RANGES,27450,Eastern Metropolitan,"1,037",63,7.20%,62,37.80%,59,"$1,281",...,72.30%,19,17.50%,10.0,44.80%,47,15.20%,37,6.4,23.0
78,YARRIAMBIACK,27630,Grampians,952,14,42.90%,12,47.80%,8,$773,...,62.40%,58,NaN,NaN,46.90%,34,26.70%,2,5.1,38.0

In [141]:
lga_demo_df.dtypes

LGA Name                                                                                     object
LGA Code                                                                                      int64
Departmental Region                                                                          object
Index of Relative Socio-Economic Disadvantage (IRSD)                                         object
Index of Relative Socio-Economic Disadvantage (IRSD) (rank)                                   int64
Percentage of highly disadvantaged SA1s                                                      object
Percentage of highly disadvantaged SA1s (rank)                                                int64
People with income less than $400 per week                                                   object
People with income less than $400 per week (rank)                                             int64
Median household income                                                                      object
Median household income (rank)                                                                int64
Median house price                                                                           object
Median house price (rank)                                                                     int64
Journeys to work which are by car                                                            object
Journeys to work which are by car (rank)                                                      int64
People with at least 2 hour daily commute                                                    object
People with at least 2 hour daily commute (rank)                                            float64
People at increased risk of alcohol-related harm on a single occasion of drinking            object
People at increased risk of alcohol-related harm on a single occasion of drinking (rank)      int64
People reporting fair or poor health status                                                  object
People reporting fair or poor health status (rank)                                            int64
Clients that received Alcohol & Drug Treatment Services per 1,000 population                float64
Clients that received Alcohol & Drug Treatment Services per 1,000 population (rank)         float64
dtype: object

In [142]:
#Rename the column name LGA Name to LGA
lga_demo_df2 = lga_demo_df.rename(columns={"LGA Name": "LGA"})

In [143]:
lga_demo_df2

,LGA,LGA Code,Departmental Region,Index of Relative Socio-Economic Disadvantage (IRSD),Index of Relative Socio-Economic Disadvantage (IRSD) (rank),Percentage of highly disadvantaged SA1s,Percentage of highly disadvantaged SA1s (rank),People with income less than $400 per week,People with income less than $400 per week (rank),Median household income,...,Journeys to work which are by car,Journeys to work which are by car (rank),People with at least 2 hour daily commute,People with at least 2 hour daily commute (rank),People at increased risk of alcohol-related harm on a single occasion of drinking,People at increased risk of alcohol-related harm on a single occasion of drinking (rank),People reporting fair or poor health status,People reporting fair or poor health status (rank),"Clients that received Alcohol & Drug Treatment Services per 1,000 population","Clients that received Alcohol & Drug Treatment Services per 1,000 population (rank)"
0,ALPINE,20110,Hume,987,35,23.80%,33,44.80%,21,$829,...,43.90%,77,8.30%,35.0,56.10%,6,19.30%,10,1.0,78.0
1,ARARAT,20260,Grampians,951,11,45.50%,8,43.30%,30,$844,...,68.70%,38,NaN,NaN,48.20%,31,14.40%,45,11.5,4.0
2,BALLARAT,20570,Grampians,981,29,31.50%,23,41.70%,39,$988,...,73.80%,15,4.70%,47.0,53.70%,15,12.30%,60,5.5,31.0
3,BANYULE,20660,Northern Metropolitan,"1,047",67,8.30%,60,36.90%,68,"$1,394",...,64.10%,55,20.60%,5.0,40.70%,64,16.70%,31,3.7,54.0
4,BASS COAST,20740,Gippsland,978,27,21.60%,36,43.80%,26,$855,...,71.40%,25,6.80%,40.0,45.20%,44,17.70%,20,7.1,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,WODONGA,27170,Hume,975,26,37.60%,17,37.30%,67,"$1,075",...,75.80%,5,NaN,NaN,53.10%,18,11.80%,63,3.4,60.0
75,WYNDHAM,27260,Western Metropolitan,"1,013",55,19.30%,45,36.90%,69,"$1,424",...,72.10%,20,26.20%,1.0,34.70%,73,17.40%,21,4.4,45.0
76,YARRA,27350,Northern Metropolitan,"1,019",57,12.10%,55,29.20%,77,"$1,680",...,36.60%,78,3.40%,52.0,55.10%,12,14.80%,43,7.3,14.0
77,YARRA RANGES,27450,Eastern Metropolitan,"1,037",63,7.20%,62,37.80%,59,"$1,281",...,72.30%,19,17.50%,10.0,44.80%,47,15.20%,37,6.4,23.0
78,YARRIAMBIACK,27630,Grampians,952,14,42.90%,12,47.80%,8,$773,...,62.40%,58,NaN,NaN,46.90%,34,26.70%,2,5.1,38.0

In [144]:
crash_demographics = crash_data.copy()

In [145]:
crash_demographics

,OBJECTID,ACCIDENT_DATE,ACCIDENT_TIME,ALCOHOLTIME,ACCIDENT_TYPE,DAY_OF_WEEK,LIGHT_CONDITION,ROAD_GEOMETRY,SEVERITY,SPEED_ZONE,...,YOUNG_DRIVER,ALCOHOL_RELATED,UNLICENCSED,NO_OF_VEHICLES,HEAVYVEHICLE,PASSENGERVEHICLE,MOTORCYCLE,PUBLICVEHICLE,RMA,STAT_DIV_NAME
0,3401744,1/07/2013,18.30.00,Yes,Struck Pedestrian,Monday,Dark Street lights on,Not at intersection,Serious injury accident,60 km/hr,...,0,No,0,1,0,1,0,0,Local Road,Metro
1,3401745,2/07/2013,16.40.00,No,Collision with vehicle,Tuesday,Day,T intersection,Serious injury accident,60 km/hr,...,0,No,0,3,0,3,0,0,Arterial Other,Metro
2,3401746,2/07/2013,13.15.00,No,Collision with a fixed object,Tuesday,Day,T intersection,Serious injury accident,50 km/hr,...,0,Yes,0,1,0,1,0,0,Local Road,Metro
3,3401747,2/07/2013,16.45.00,No,Collision with a fixed object,Tuesday,Day,Not at intersection,Serious injury accident,110 km/hr,...,0,No,0,1,0,1,0,0,Freeway,Country
4,3401748,2/07/2013,15.48.00,No,Collision with vehicle,Tuesday,Day,Not at intersection,Other injury accident,50 km/hr,...,0,No,0,2,0,1,0,1,Local Road,Metro
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65430,3467273,22/05/2018,15.44.00,No,Collision with vehicle,Tuesday,Day,Cross intersection,Other injury accident,60 km/hr,...,1,No,0,2,0,2,0,0,Arterial Highway,Country
65431,3467274,22/05/2018,17.32.00,No,Collision with vehicle,Tuesday,Dusk/Dawn,Not at intersection,Other injury accident,70 km/hr,...,0,No,0,3,0,3,0,0,Arterial Other,Metro
65432,3467275,22/05/2018,17.26.00,No,Collision with vehicle,Tuesday,Dark No street lights,Not at intersection,Other injury accident,60 km/hr,...,0,No,0,2,1,1,0,0,Arterial Other,Metro
65433,3467276,13/12/2017,16.35.00,No,Vehicle overturned (no collision),Wednesday,Day,T intersection,Other injury accident,50 km/hr,...,0,No,0,2,0,1,1,0,Local Road,Metro
65434,3467277,29/05/2018,09.00.00,No,Collision with a fixed object,Tuesday,Day,Not at intersection,Other injury accident,100 km/hr,...,0,No,0,1,0,1,0,0,Arterial Other,Country

In [146]:
#Delete the row with a MOUNT BULLER ALPINE RESOR Statistic
crash_demographics[crash_demographics.LGA_NAME != 'MOUNT BULLER ALPINE RESOR']

,OBJECTID,ACCIDENT_DATE,ACCIDENT_TIME,ALCOHOLTIME,ACCIDENT_TYPE,DAY_OF_WEEK,LIGHT_CONDITION,ROAD_GEOMETRY,SEVERITY,SPEED_ZONE,...,YOUNG_DRIVER,ALCOHOL_RELATED,UNLICENCSED,NO_OF_VEHICLES,HEAVYVEHICLE,PASSENGERVEHICLE,MOTORCYCLE,PUBLICVEHICLE,RMA,STAT_DIV_NAME
0,3401744,1/07/2013,18.30.00,Yes,Struck Pedestrian,Monday,Dark Street lights on,Not at intersection,Serious injury accident,60 km/hr,...,0,No,0,1,0,1,0,0,Local Road,Metro
1,3401745,2/07/2013,16.40.00,No,Collision with vehicle,Tuesday,Day,T intersection,Serious injury accident,60 km/hr,...,0,No,0,3,0,3,0,0,Arterial Other,Metro
2,3401746,2/07/2013,13.15.00,No,Collision with a fixed object,Tuesday,Day,T intersection,Serious injury accident,50 km/hr,...,0,Yes,0,1,0,1,0,0,Local Road,Metro
3,3401747,2/07/2013,16.45.00,No,Collision with a fixed object,Tuesday,Day,Not at intersection,Serious injury accident,110 km/hr,...,0,No,0,1,0,1,0,0,Freeway,Country
4,3401748,2/07/2013,15.48.00,No,Collision with vehicle,Tuesday,Day,Not at intersection,Other injury accident,50 km/hr,...,0,No,0,2,0,1,0,1,Local Road,Metro
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65430,3467273,22/05/2018,15.44.00,No,Collision with vehicle,Tuesday,Day,Cross intersection,Other injury accident,60 km/hr,...,1,No,0,2,0,2,0,0,Arterial Highway,Country
65431,3467274,22/05/2018,17.32.00,No,Collision with vehicle,Tuesday,Dusk/Dawn,Not at intersection,Other injury accident,70 km/hr,...,0,No,0,3,0,3,0,0,Arterial Other,Metro
65432,3467275,22/05/2018,17.26.00,No,Collision with vehicle,Tuesday,Dark No street lights,Not at intersection,Other injury accident,60 km/hr,...,0,No,0,2,1,1,0,0,Arterial Other,Metro
65433,3467276,13/12/2017,16.35.00,No,Vehicle overturned (no collision),Wednesday,Day,T intersection,Other injury accident,50 km/hr,...,0,No,0,2,0,1,1,0,Local Road,Metro
65434,3467277,29/05/2018,09.00.00,No,Collision with a fixed object,Tuesday,Day,Not at intersection,Other injury accident,100 km/hr,...,0,No,0,1,0,1,0,0,Arterial Other,Country

### Calculate and plot the overall statistics for the number of crashes per Local Government Agency

In [147]:
#Create a new DataFrame to enable work below (cleaned)
crash_demographic_clean = crash_demographics[["OBJECTID", "LGA_NAME", "TOTAL_PERSONS", "INJ_OR_FATAL", "FATALITY", "SERIOUSINJURY", "OTHERINJURY", "NONINJURED", "ALCOHOL_RELATED"]]

In [148]:
#Group data to calculate the number of crashes per LGA (excluding alcohol related crashes)
LGA_crash_count = crash_demographic_clean.groupby(["LGA_NAME"])["OBJECTID"].count()
LGA_total_inj = crash_demographic_clean.groupby(["LGA_NAME"])["TOTAL_PERSONS"].sum()
LGA_total_inj_or_fatal = crash_demographic_clean.groupby(["LGA_NAME"])["INJ_OR_FATAL"].sum()
LGA_total_fatal = crash_demographic_clean.groupby(["LGA_NAME"])["FATALITY"].sum()
LGA_total_serious = crash_demographic_clean.groupby(["LGA_NAME"])["SERIOUSINJURY"].sum()
LGA_total_minor = crash_demographic_clean.groupby(["LGA_NAME"])["OTHERINJURY"].sum()
LGA_total_no_injury = crash_demographic_clean.groupby(["LGA_NAME"])["NONINJURED"].sum()

In [149]:
#Calculate the number of alcohol related crashes and group by lGA *********
LGA_count_alcohol = crash_demographic_clean.loc[crash_demographic_clean["ALCOHOL_RELATED"] == "Yes"]
LGA_total_alcohol = LGA_count_alcohol.groupby(["LGA_NAME"])["ALCOHOL_RELATED"].count()

In [150]:
#Create a new grouped dataframe 
grouped_LGA_totals = pd.DataFrame({"total_crashes": LGA_crash_count,
                                  "total_inj": LGA_total_inj,
                                  "inj_fatal": LGA_total_inj_or_fatal,
                                   "fatal": LGA_total_fatal,
                                   "serious": LGA_total_serious,
                                   "minor": LGA_total_minor,
                                   "no_inj": LGA_total_no_injury,
                                   "alcohol": LGA_total_alcohol
                                  })

In [151]:
#Replace the NaN in the file with a 0
grouped_LGA_totals["alcohol"] = grouped_LGA_totals["alcohol"].fillna(0)

In [152]:
grouped_LGA_totals.tail(20)

,total_crashes,total_inj,inj_fatal,fatal,serious,minor,no_inj,alcohol
QUEENSCLIFFE,8,20,9,0,2,7,11,0.0
SHEPPARTON,752,1899,1075,29,366,680,824,37.0
SOUTH GIPPSLAND,448,878,607,22,170,415,271,23.0
SOUTHERN GRAMPIANS,150,283,195,8,88,99,88,6.0
STONNINGTON,1407,3275,1606,7,406,1193,1669,32.0
STRATHBOGIE,205,438,297,15,138,144,141,9.0
SURF COAST,391,835,501,15,177,309,334,17.0
SWAN HILL,217,514,311,11,97,203,203,20.0
TOWONG,148,221,183,4,77,102,38,5.0
WANGARATTA,299,582,404,16,132,256,178,15.0
WARRNAMBOOL,269,668,327,3,97,227,341,14.0
WELLINGTON,604,1154,800,24,266,510,354,42.0
WEST WIMMERA,53,114,88,2,43,43,26,1.0
WHITEHORSE,1291,3348,1603,16,377,1210,1745,31.0
WHITTLESEA,1759,4602,2318,21,608,1689,2284,55.0
WODONGA,267,600,350,9,93,248,250,3.0
WYNDHAM,1385,3521,1737,25,460,1252,1784,45.0
YARRA,1564,3486,1722,6,431,1285,1764,19.0
YARRA RANGES,1860,4050,2413,34,741,1638,1637,82.0
YARRIAMBIACK,45,76,62,3,20,39,14,1.0

In [153]:
#Set the index
group_LGA = grouped_LGA_totals.rename_axis("LGA").reset_index()

In [154]:
group_LGA

,LGA,total_crashes,total_inj,inj_fatal,fatal,serious,minor,no_inj,alcohol
0,ALPINE,227,437,281,4,93,184,156,6.0
1,ARARAT,150,344,221,8,71,142,123,5.0
2,BALLARAT,1134,2918,1531,20,316,1195,1387,56.0
3,BANYULE,909,2224,1127,10,247,870,1097,18.0
4,BASS COAST,340,878,485,11,142,332,393,20.0
...,...,...,...,...,...,...,...,...,...
74,WODONGA,267,600,350,9,93,248,250,3.0
75,WYNDHAM,1385,3521,1737,25,460,1252,1784,45.0
76,YARRA,1564,3486,1722,6,431,1285,1764,19.0
77,YARRA RANGES,1860,4050,2413,34,741,1638,1637,82.0
78,YARRIAMBIACK,45,76,62,3,20,39,14,1.0

In [155]:
#Merge the Database to do the demographics analysis
#merged_lga = lga_demo_df.merge(group_LGA, how="left", on=["LGA"])
LGA_merged = pd.merge(lga_demo_df2, group_LGA, how="outer", on="LGA")

In [158]:
LGA_merged

,LGA,LGA Code,Departmental Region,Index of Relative Socio-Economic Disadvantage (IRSD),Index of Relative Socio-Economic Disadvantage (IRSD) (rank),Percentage of highly disadvantaged SA1s,Percentage of highly disadvantaged SA1s (rank),People with income less than $400 per week,People with income less than $400 per week (rank),Median household income,...,"Clients that received Alcohol & Drug Treatment Services per 1,000 population","Clients that received Alcohol & Drug Treatment Services per 1,000 population (rank)",total_crashes,total_inj,inj_fatal,fatal,serious,minor,no_inj,alcohol
0,ALPINE,20110,Hume,987,35,23.80%,33,44.80%,21,$829,...,1.0,78.0,227,437,281,4,93,184,156,6.0
1,ARARAT,20260,Grampians,951,11,45.50%,8,43.30%,30,$844,...,11.5,4.0,150,344,221,8,71,142,123,5.0
2,BALLARAT,20570,Grampians,981,29,31.50%,23,41.70%,39,$988,...,5.5,31.0,1134,2918,1531,20,316,1195,1387,56.0
3,BANYULE,20660,Northern Metropolitan,"1,047",67,8.30%,60,36.90%,68,"$1,394",...,3.7,54.0,909,2224,1127,10,247,870,1097,18.0
4,BASS COAST,20740,Gippsland,978,27,21.60%,36,43.80%,26,$855,...,7.1,17.0,340,878,485,11,142,332,393,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,WODONGA,27170,Hume,975,26,37.60%,17,37.30%,67,"$1,075",...,3.4,60.0,267,600,350,9,93,248,250,3.0
75,WYNDHAM,27260,Western Metropolitan,"1,013",55,19.30%,45,36.90%,69,"$1,424",...,4.4,45.0,1385,3521,1737,25,460,1252,1784,45.0
76,YARRA,27350,Northern Metropolitan,"1,019",57,12.10%,55,29.20%,77,"$1,680",...,7.3,14.0,1564,3486,1722,6,431,1285,1764,19.0
77,YARRA RANGES,27450,Eastern Metropolitan,"1,037",63,7.20%,62,37.80%,59,"$1,281",...,6.4,23.0,1860,4050,2413,34,741,1638,1637,82.0
78,YARRIAMBIACK,27630,Grampians,952,14,42.90%,12,47.80%,8,$773,...,5.1,38.0,45,76,62,3,20,39,14,1.0